* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-primary: #a7e0e0;
    --color-light: #e8aabe;
    --color-light1: #db6a8f;
    --color-light2: #ca3c66;
    --color-white: #fff;
    --color-white-variant: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #11151C;
    --color-bg1: #212d40;
    --color-bg2: #294c60;

    --transition: all 400ms ease;
}

body {
    height: 100vh;
    background: linear-gradient(90deg,var(--color-light),var(--color-primary));
  
}

.slider-thumb::before {
position: absolute;
content: "";
left: 31%;
top: 20%;
width: 700px;
height: 500px;
background: #17141d;
border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
will-change: border-radius, transform, opacity;
animation: sliderShape 5s linear infinite;
display: block;
z-index: -1;
-webkit-animation: sliderShape 5s linear infinite;
}

@keyframes sliderShape{
0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
}
34%{
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
}
50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
}
67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
}
}

main h1 {
    color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    background: transparent;
    position: relative;
    padding: 0 15px;
}

li {
    position: relative;
    margin: 20px;
    height: 100%;
    display: flex;
}

a {
    z-index: 1;
    color: var(--color-bg1);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
}

li:before {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: var(--color-light1);
    right: 0;
    z-index: 0;
    top: 33.33%;
    transition: var(--transition);
}

li:after {
    content: "";
    position: absolute;
    width: 0;
    background-color: var(--color-light1);
    left: 0;
    z-index: 0;
    bottom: 0;
    transition: var(--transition);
}

a:before {
    position:absolute;
    content: "";
    width: 0;
    background-color: var(--color-light1);
    left: 0;
    transition: var(--transition);
}

li:hover:before,
li:hover:after,
li:hover a:before{
    width:100%
}


.top_nav {
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.top_nav a {
    color: var(--color-white);
    font-weight: 500;
    margin: 0 10px;
}

.form_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form_box.login {
    background-color: var(--color-bg1);
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    margin: 50px auto;
}

.form_box h2 {
    color: var(--color-white);
    text-align: center;
    margin-bottom: 20px;
}

.form_box .input_box {
    position: relative;
    margin-bottom: 20px;
}

.form_box .input_box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--color-white);
    border: none;
    border-bottom: 1px solid var(--color-white);
    outline: none;
    background: transparent;
}

.form_box .input_box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 18px;
    color: var(--color-white-variant);
    pointer-events: none;
    transition: 0.5s;
}

.form_box .input_box input:focus ~ label,
.form_box .input_box input:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--color-primary);
    font-size: 12px;
}

.form_box .remember_forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form_box .remember_forgot label {
    color: var(--color-white);
    font-size: 16px;
    align-self: center;
}

.form_box .btn {
    background-color: var(--color-bg);
    color: var(--color-white);
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}

.form_box .btn:hover {
    background-color: var(--color-light1);
    transition: var(--transition);
}

.form_box .login_register {
    text-align: center;
    color: var(--color-white);
    font-size: 14px;
    margin-top: 20px;
}

.form_box .login_register a:hover {
    color: var(--color-light);
    transition: var(--transition);
}

.form_box .login_register p {
    margin-bottom: 20px;
}

.form_box .login_register a {
    color: var(--color-primary);
    text-decoration: underline;
}

#msgerror {
    color: var(--color-light2);
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.form_box.register {
    background-color: var(--color-bg1);
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    margin: 50px auto;
}

.form_box .login_register {
    text-align: center;
    color: var(--color-white);
    font-size: 16px;
    margin-top: 20px;
}

.form_box .login_register p {
    margin-bottom: 10px;
}

.form_box .login_register a {
    color: var(--color-primary);
    text-decoration: underline;
}

.form_box.profil {
    background-color: var(--color-bg1);
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    margin: 50px auto;
}

.form_box .login_profil {
    text-align: center;
    color: var(--color-white);
    font-size: 16px;
    margin-top: 20px;
}

.form_box .login_profil p {
    margin-bottom: 10px;
}

.form_box .login_profil a {
    color: var(--color-primary);
    text-decoration: underline;
}

#msgProfil {
    color: greenyellow;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.form_box .mybutton {
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    width: 700px;
}

.mybutton:hover {
background-color: var(--color-bg);
transition: var(--transition);
}
  
.form_box .comment_container {
    background-color: var(--color-bg1);
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    margin: 0 auto;
}
  
.post {
    color: var(--color-light);
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}
  
.comment {
    color: var(--color-primary);
    font-size: 18px;
    line-height: 1.5;
    margin-left: 30px;
}

/* Comments */

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column label,
.flex-column textarea,
.flex-column input[type="submit"] {
    margin-bottom: 10px;
}

.flex-column label {
    font-size: 25px;
    font-weight: 700;
}

.flex-column textarea {
    width: 700px;
    height: 300px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.flex-column input[type="submit"] {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    width: 700px;
}

.flex-column input[type="submit"]:hover {
    background-color: var(--color-bg);
    transition: var(--transition);
}
